/* 
    name        : Amitasker
    description : bootstrap responsive html5 template for marketing agency
    author      : @hasanmisbah
    authorURI   : https://hasanmisbah.github.io/
    Lisence     : MIT

*/


/* 
############################################# content #############################################


*/
$text-white : #f3f3f3;
$primary-text : #1abba3;
$secondary-color : #45407f;
$effect : #f39c12;
$blurple : #192a56;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after{
        box-sizing: inherit;
    }
}
html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
header,main,footer,section{
    width: 100%;
}

/* navigation */
#header{

    #main-nav{
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: .1rem;
        background-color: rgba(0, 0, 0, .1) !important; 
        .navbar-brand{
            img{
                height: 2rem;
            }
        }
        &.sticky{
            background-color: rgba(0, 0, 0, 1) !important;
        }   
    }

    .navbar-dark{
        .navbar-nav{
            li{
                padding-right: .7rem;
            }
            .nav-item{
                .nav-link{
                    color: $text-white !important;
                    padding-top: .8rem;
                    &.active,
                    &:hover{
                        color: $primary-text !important;
                    }
                }
            }
        }

    }

}

%btn-ami {
    background-color: $primary-text;
    padding: 10px 25px;
    border-color: transparent;
    outline-color: transparent;
    text-transform: uppercase;
    letter-spacing: .1rem;
    &:hover{
        background-color: darken($color: $primary-text, $amount: 9);
    }
}
section#home{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("../assets/img/virtual-assistant.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .9);
    }
    .home-content{
        padding-top: 150px;
        color: $text-white;
        .hero-text{
            padding-top: 50px;
        }
        h1{
            font-size: 50px;
            line-height: 65px;
            font-weight: 700;
        }
        .btn-ami{
            @extend %btn-ami;
        }
    }
}
.section-heading{
    padding-bottom: 20px;
    h2{
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        z-index: 2;
        &:before, &:after{
            content: "";
            position: absolute;
            left: 50%;
            height: 3px;
            transform: translateX(-50%);
            bottom: -10px;
        }
        &:before{
            background-color: $primary-text;
            width: 30px;
        }
        &:after{
            background-color: $secondary-color;
            z-index: -1;
            width: 100px;
        }
    }
}
#about{
    padding: 50px 0 0 0;
    #company-stats{
        background-color: $secondary-color;
        padding: 20px 0;
        color: $text-white;
        .lead{
            font-weight: 700;
        }
        .single-stats{
            span{
                display: block;
                margin-bottom: 15px;
                font-size: 50px;
                line-height: 55px;
                font-weight: 700;
            }
            p{
                font-size: 25px;
                line-height: 26px;
            }
        }
    }
    .social{
        .social-nav{
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline;
            li{
                display: inline-block;
                a{
                    display: block;
                    padding: 5px;
                    i{
                        padding: 8px;
                        border-radius: 50%;
                        background-color: $secondary-color;
                        color: $text-white;
                        width: 36px;
                        height: 36px;
                        display: block;
                        font-size: 18px;
                        line-height: 18px;
                        text-align: center;
                        border: 1px solid transparent;
                        transition: all .3s ease;
                        &:hover{
                            background-color: #ffffff;
                            color: $secondary-color;
                            border-color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

section#services{
    padding: 50px 0 0 0;
    background-image: url("../assets/img/services-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    &:after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba($color: #ffffff , $alpha: 0.9);
        z-index: -1;
    }
    .single-service{
        text-align: center;
        .service-title{
            padding: 10px 0;
            font-size: 22px;
            color: $secondary-color;
        }
        i{
            display: inline-block;
            width: 64px;
            height: 64px;
            border: 1px solid $secondary-color;
            color: $secondary-color;
            padding: 16px;
            border-radius: 50%;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
        }
    }
    #services-bottom{
        padding: 50px 0;
        background-color: rgba($blurple, $alpha: 0.8);

        .section-heading{
            color: $text-white;
        }
        .single-service-details{
            color: $text-white;
            text-align: center;
            padding: 20px;
            display: block;
            box-shadow: 0 0 10px 0 rgba($primary-text , $alpha: 0.8);
            border-radius: 8px;
            position: relative;
            overflow: hidden;

            &:before, &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 2px ;
                border-radius: 8px;
            }

            &:before{
                border-bottom: 3px solid transparent;
                border-left: 3px solid transparent;
                left: 0;
                bottom: 0;
                transform: translateX(100%);
                
            }
            &:after{
                border-top: 3px solid transparent;
                border-right: 3px solid transparent;
                right: 0;
                top: 0;
                transform: translateX(-100%);
            }
            &:hover{
                &:before{
                    height: 100%;
                    border-color: $primary-text;
                    transform: translateX(0);
                    transition: .2s transform linear, .2s height linear .2s;
                }
                &:after{
                    height: 100%;
                    border-color: $primary-text;
                    transform: translateX(0);
                    transition: .2s transform linear, .2s height linear .2s;
                }
            }

            span{
                font-size: 50px;
                display: inline-block;
                text-rendering: auto;
            }
            h4{
                padding: 10px 0;
                font-size: 25px;
            }
        }
    }
}

   
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/



  /*
    Framework Editing
    
    1. hover
    
*/
  .hvr-underline-from-center{
      &::before{
        background: $effect;
      }
  }
  .hvr-ripple-out{
      &::before{
        border: .5px solid $secondary-color;
        border-radius: 50%;
      }
  }